body {
    font-family: 'Open Sans', sans-serif !important;
}

.pad {
    padding: 15px 20px;
    cursor: pointer;
}

.pad-child {
    padding: 15px 40px;
}

.full-nav {
  
}

.post {
    padding: 15px 0px;
}

.not-correct {
    height: calc(100vh - 31vh);
    overflow-y: scroll;
}

/* Navigation Header */

.navigation {
    color: #858F95;
    background: #192329;
    height: 100vh;
}

.navigation-header {
    align-items: center;
    padding: 10px 20px;
}

.navigation-header p {
    font-size: 20px;
    margin: 0;
    padding-left: 23px;
}


.admin-pic {
    background-image: url("https://i.imgur.com/cmIisaD.jpg");
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


/* Navigation Body */

.navigation-body {
}

.navigation-body h2 {
    font-size: 18px;
    margin-top: 3rem;
    background: #0000004f;
}

.navigation-body p {
    font-size: 15px;
    margin: 0;
    cursor: pointer;
}

.navigation-body p:hover {
    background: #2C3B3F;
    color: white;
}

.posts-click:hover {
    background: #2C3B3F;
    color: white;
}

/* posts child */

.posts-child {
    display: none;
}

.fa-chevron-down {
    transform: rotate(-90deg);
    font-size: 13px;
    transition: all .4s;
}

.fa-chevron-down.active {
    transform: rotate(0deg);
}


/* Main Side */

.main-side {
    background: #EDF0F6;
    height: 100vh;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}

.main-header p {
    margin: 0;
    padding: 0 30px;
    font-size: 14px;
    font-style: italic;
}

.main-header span {
    padding: 0 5px;
}

.main-header h1 {
    color: #45474D;
}

.user-search p {
    margin: 0;
    font-size: 18px;
}

.user-tables {
    overflow-y: scroll;
    height: calc(100vh - 31vh);

}

.user-search span {
    font-size: 14px;
    font-style: italic;
}

.user-search label {
    padding: 0px 10px;
    margin: 0;
}

.main-body {
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.2);
}

.user-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.body-header button {
    background: #625CA9;
    border: none;
    padding: 12px 20px;
    color: white;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;

}

tr:nth-child(even) {
    background-color: #f5f5f5;
  }

th, td {
      padding: 10px;
      border: 1px solid #f5f5f5;
  }



/* Menu CSS */

.header_menu ul {
    padding: 0;
    list-style-type: none;
}

.header_menu li {
    cursor: pointer;
    padding: 10px;
}

.header_menu li:hover {
    background: #2C3B3F;
    color: white;;
}